#chat-main {
  background-color: ##FFFFFF;
}
.chat-title{
  background:white;
  width:100vw;
  height:10vh;
  margin:0;
  padding:0;
  position:fixed;
  top:0;
  border-top:solid;
  display:flex;
  justify-content:center;
  align-items:center;
}

.create-chat-button{
  width:100vw;
  height:5vh;
  position:fixed;
  top:10vh;
  border-top:solid;
  border-bottom:solid;
  border-top-width:medium;
  border-bottom-width:thin;
  margin:0;
  padding:0;
  display:flex;
  justify-content:flex-start;
  align-items:center;
}
.create-chat-button h4{
  margin:0 3%;
}
.create-chat-button img{
  max-height:60%;
  margin:0 4%;
}
#chat-record{
  position:fixed;
  top:15vh;
  width:100vw;
  height:63vh;
  background:yellow;
}
.chat-room{
  width:100vw;
  height:11vh;
  border-bottom:solid;
  border-bottom-width:thin;
}
