#chat-main {
  background-color: ##FFFFFF;
}
.chat-title{
  width:100%;
  height:10%;
  margin:0;
  padding:0;
  position:fixed;
  top:0;
  border-top:solid;
  border-bottom:solid;
  display:flex;
  justify-content:center;
  align-items:center;
}

.create-chat-button{
  position:fixed;
  top:10%;
  border-bottom:solid;
  margin:0;
  padding:0;
  height:5%;
  display:flex;
  justify-content:flex-start;
  align-items:center;
}
.create-chat-button h4{
  margin:0 10%;
}
.create-chat-button img{
  max-height:80%;
}
