#friend-main {
  background-color: ##FFFFFF;
}
.friend-title{
  background:white;
  width:100vw;
  height:10vh;
  margin:0;
  padding:0;
  position:fixed;
  top:0;
  border-top:solid;
  display:flex;
  justify-content:center;
  align-items:center;
}
#search-ID{
  background:none;
  width:100vw;
  height:5vh;
  position:fixed;
  top:10vh;
  border-top:solid;
  border-bottom:solid;
  border-top-width:medium;
  border-bottom-width:thin;
  display:flex;
  align-items:center;
  justify-content:flex-start;
  margin:0;
  padding:0;
 
  z-index:1;
}
[type="text"]{
  margin:0 5vw 0 5vw;
  float:left;

}
#search-ID img{
  max-height:2.5vh;
  margin:0;
}
#friend-record{
  position:fixed;
  top:15vh;
  width:100vw;
  height:75vh;
  overflow:scroll;
  z-index:1;
}
.friend{
  width:100vw;
  height:12vh;
  border-bottom:solid;
  border-bottom-width:thin;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  float:left;
  flex: 0 0 100vw; 
  color: #fff; 
  position: relative;
  z-index=1;
}
#friend-header{
height:60%;
float:left;
}
.friend-cover{
  background-color:gray;
  position:fixed;
  top:0;
  width:100vw;
  height:90vh;
  margin:0;
  padding:0;
  opacity:0.5;
  z-index:2;
  overflow:none;
}
.hidden{
  visibility:hidden;
}
.show{
  visibility:show;
}
.output-search-ID{
  background:transparent;
  border-width:0px;
  outline:none;
}
/* 列表仅水平滚动 */
.slideleft { 
  display: flex; 
  overflow-y: hidden;
}
/* 主内容宽度100%，白色背景覆盖 */

/* 空标签元素，作用是腾出水平滚动空间 */
.space { 
  flex: 0 0 4rem;
  z-index:1;
}
/* 按钮绝对定位，藏在内容白色背景后面 */
.deletebutton { 
  width: 4rem;
  height:12vh;
  position: absolute; 
  right: 0; 
  z-index:0;
  background:red;
  
}
