#friend-main {
  background-color: ##FFFFFF;
}
.friend-title{
  background:white;
  width:100vw;
  height:10vh;
  margin:0;
  padding:0;
  position:fixed;
  top:0;
  border-top:solid;
  display:flex;
  justify-content:center;
  align-items:center;
}
#search-ID{
  background:none;
  width:100vw;
  height:5vh;
  position:fixed;
  top:10vh;
  border-top:solid;
  border-bottom:solid;
  border-top-width:medium;
  border-bottom-width:thin;
  margin:0;
  padding:0;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  z-index:1;
}
#search-ID img{
  max-height:3vh;
  margin:20%;
}

