#room-main {
  background-color: ##FFFFFF;
  overflow:hidden;
}
.room-title{
  background:white;
  width:100vw;
  height:9vh;
  margin:0;
  padding:0 0 0 10vw;
  position:fixed;
  top:0;
  border-top:solid;
  border-bottom:solid;
  display:flex;
  align-items:center;
  z-index:1;
}
#chat-content{
  width:100vw;
  height:74vh;
  overflow:scroll;
}
#chat-input-area{
  width:100vw;
  height:7vh;
  position:fixed;
  bottom:10vh;
  border-top:solid;
  border-bottom:solid;
  border-width:thin;
}

